In [1]:
#pip install pip install googletrans==3.1.0a0

In [2]:
import pandas as pd

In [3]:
data = pd.read_excel('D:/Jacobs/Semester 3/Advanced Project 2/Dataset/h22index-42.xlsx')

In [4]:
data.head()

,食品価格動向調査（野菜）の結果（価格、単位：円/kg）,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22
0,NaN,キャベツ,ねぎ,レタス,ばれいしょ,たまねぎ,きゅうり,トマト,ほうれんそう,にんじん,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,平成29年11月6日の週,171,-,763,NaN,-,-,783,-,-,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,平成29年11月13日の週,198,-,909,-,-,-,771,-,-,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,平成29年11月20日の週,196,-,873,-,-,-,757,-,-,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,平成29年11月27日の週,207,-,969,-,-,-,762,-,-,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
data.tail(10)

,食品価格動向調査（野菜）の結果（価格、単位：円/kg）,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22
246,令和4年9月26日の週,157,855,560,375,303,602,878,-,527,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
247,令和4年10月3日の週,162,814,545,-,298,-,897,-,508,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
248,令和4年10月10日の週,173,791,556,-,291,-,913,-,480,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
249,令和4年10月17日の週,167,785,533,-,283,-,910,-,479,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
250,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
251,注１：各都道府県１０店舗（全国４７０店舗）について訪問調査。,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
252,注２：価格は特売価格等を含まない消費税込み価格で、全調査店舗の単純平均（小売価格の全国平均値...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
253,注３：令和２年４月20日の週及び４月27日の週の調査を中止したことから、当該週の価格は存在しない。,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
254,注４：＜令和３年＞以下の期間、都道府県での調査を中止したことから、それぞれ前週の値とは接続し...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
255,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
import openpyxl as oxl

#### Copy-Paste A1 to A2

In [7]:
xl = oxl.load_workbook("D:/Jacobs/Semester 3/Advanced Project 2/Dataset/h22index-42.xlsx")
sheet1 = xl.worksheets[0]

In [8]:
rangeselected = []

for i in range (1,2,1):
    rangeselected.append(sheet1.cell(row = i, column = 1).value)

In [9]:
for i in range (1,2):
    print(rangeselected[i-1])

食品価格動向調査（野菜）の結果（価格、単位：円/kg）

In [10]:
sheet1.cell(row = 2, column = 1).value = rangeselected[i-1]

#### Saving as a new file

In [11]:
xl.save("D:/Jacobs/Semester 3/Advanced Project 2/Dataset/new_data.xlsx")

#### Choosing Specific Columns 
#### Organizing Header
#### Cutting some rows from the bottom.

In [12]:
require_cols = [*range(0,13)] #range of columns that we want to use
 
# only read specific columns from an excel file
required_df = pd.read_excel('D:/Jacobs/Semester 3/Advanced Project 2/Dataset/new_data.xlsx', usecols = require_cols, header = 1,skipfooter = 6)
required_df.head()

,食品価格動向調査（野菜）の結果（価格、単位：円/kg）,キャベツ,ねぎ,レタス,ばれいしょ,たまねぎ,きゅうり,トマト,ほうれんそう,にんじん,はくさい,だいこん,なす
0,平成29年11月6日の週,171,-,763,NaN,-,-,783,-,-,189,192,NaN
1,平成29年11月13日の週,198,-,909,-,-,-,771,-,-,195,190,NaN
2,平成29年11月20日の週,196,-,873,-,-,-,757,-,-,209,190,NaN
3,平成29年11月27日の週,207,-,969,-,-,-,762,-,-,236,204,NaN
4,平成29年12月4日の週,221,-,1109,-,-,-,794,-,-,243,215,NaN

In [13]:
required_df.tail()

,食品価格動向調査（野菜）の結果（価格、単位：円/kg）,キャベツ,ねぎ,レタス,ばれいしょ,たまねぎ,きゅうり,トマト,ほうれんそう,にんじん,はくさい,だいこん,なす
244,令和4年9月19日の週,141,854,580,380,311,591,867,-,544,-,-,-
245,令和4年9月26日の週,157,855,560,375,303,602,878,-,527,-,-,-
246,令和4年10月3日の週,162,814,545,-,298,-,897,-,508,234,255,-
247,令和4年10月10日の週,173,791,556,-,291,-,913,-,480,239,251,-
248,令和4年10月17日の週,167,785,533,-,283,-,910,-,479,236,228,-

#### Translating

In [14]:
import googletrans
from googletrans import *

In [15]:
translator = googletrans.Translator()

In [16]:
required_df["食品価格動向調査（野菜）の結果（価格、単位：円/kg）"] = required_df["食品価格動向調査（野菜）の結果（価格、単位：円/kg）"].astype(str)
required_df["食品価格動向調査（野菜）の結果（価格、単位：円/kg）"] = required_df["食品価格動向調査（野菜）の結果（価格、単位：円/kg）"].apply(translator.translate, src='ja', dest='en').apply(getattr, args =('text',) )
required_df

,食品価格動向調査（野菜）の結果（価格、単位：円/kg）,キャベツ,ねぎ,レタス,ばれいしょ,たまねぎ,きゅうり,トマト,ほうれんそう,にんじん,はくさい,だいこん,なす
0,"Week of November 6, 2017",171,-,763,NaN,-,-,783,-,-,189,192,NaN
1,"Week of November 13, 2017",198,-,909,-,-,-,771,-,-,195,190,NaN
2,"Week of November 20, 2017",196,-,873,-,-,-,757,-,-,209,190,NaN
3,"Week of November 27, 2017",207,-,969,-,-,-,762,-,-,236,204,NaN
4,"Week of December 4, 2017",221,-,1109,-,-,-,794,-,-,243,215,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
244,"Week of September 19, 2022",141,854,580,380,311,591,867,-,544,-,-,-
245,"Week of September 26, 2022",157,855,560,375,303,602,878,-,527,-,-,-
246,"Week of October 3, 2022",162,814,545,-,298,-,897,-,508,234,255,-
247,"Week of October 10, 2022",173,791,556,-,291,-,913,-,480,239,251,-
248,"Week of October 17, 2020",167,785,533,-,283,-,910,-,479,236,228,-